{
  "verifyConditions": [
    "@semantic-release/github"
  ],
  "prepare": [
    {
      "path": "@semantic-release/exec",
      "cmd": "(cd dist; zip -r ${nextRelease.gitTag}.zip .)"
    }
  ],
  "publish": [
    {
      "path": "@semantic-release/github",
      "assets": "dist/*.zip"
    }
  ]
}
